---
import { NAV_LINKS } from "../lib/constants";

import SmartphoneIcon from "../icons/smartphone.astro";
import PhoneIcon from "../icons/phone.astro";
import MailIcon from "../icons/mail.astro";
import MapPinIcon from "../icons/map-pin.astro";
import InstagramIcon from "../icons/instagram.astro";
import TwitterIcon from "../icons/twitter.astro";
import FacebookIcon from "../icons/facebook.astro";

const contactInfo = [
  {
    text: "(+54 261) 4544442",
    href: "https://wa.me/+542614544442",
    ariaLabel: "Llamar al número (+54 261) 4544442",
    icon: SmartphoneIcon,
  },
  {
    text: "(+54 261) 423-1213 / 423-1413",
    href: "https://wa.me/+542614231213",
    ariaLabel: "Llamar al número (+54 261) 423-1213",
    icon: PhoneIcon,
  },
  {
    text: "operaciones@inverfinsa.com.ar",
    href: "mailto:operaciones@inverfinsa.com.ar",
    ariaLabel: "Enviar correo electrónico a operaciones@inverfinsa.com.ar",
    icon: MailIcon,
  },
  {
    text: "Sarmiento 199, 2º piso, oficina 216 Edificio Bolsa de Comercio M5500GIC – Mendoza -Argentina",
    href: "https://www.google.com/maps/search/Sarmiento+199,+2%C2%BA+piso,+oficina+216+Edificio+Bolsa+de+Comercio+M5500GIC+%E2%80%93+Mendoza+-Argentina/@-32.8900762,-68.8419388,20z?entry=ttu",
    ariaLabel: "Ver la ubicación en Google Maps",
    icon: MapPinIcon,
  },
];
---

<footer class="bg-neutral-200 border-t overflow-hidden">
  <div class="wrapper space-y-10 py-16">
    <section
      class="flex flex-col lg:flex-row items-start justify-between gap-10 text-sm"
    >
      <div class="flex max-md:flex-col gap-2 md:gap-4 md:items-center">
        <picture class="w-40 aspect-auto">
          <img
            src="/logos/inverfin.webp"
            alt="Logo de Inverfin"
            class="object-cover"
            width="200"
            height="60"
          />
        </picture>
        <div class="flex flex-col font-bold">
          <p>INVERFIN S.A.</p>
          <p>Agente de negociación - Matrícula 518 CNV</p>
          <p>Miembro del Mercado Argentino de Valores</p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        {
          contactInfo.map((info) => (
            <a
              href={info.href}
              target="_blank"
              rel="noreferrer"
              class="flex gap-2 items-center"
              aria-label={info.ariaLabel}
            >
              <info.icon class="size-4 flex-shrink-0" />
              {info.icon === MapPinIcon ? (
                <address>{info.text}</address>
              ) : (
                <p>{info.text}</p>
              )}
            </a>
          ))
        }
        <div class="flex gap-2 mt-2">
          <a
            href="#"
            target="_blank"
            rel="noreferrer"
            aria-label="Ver instagram"
          >
            <InstagramIcon
              class="text-muted-foreground size-5 hover:text-pink-500 hover:scale-[1.08] cursor-pointer"
            />
          </a>
          <a href="#" target="_blank" rel="noreferrer" aria-label="Ver twitter">
            <TwitterIcon
              class="text-muted-foreground size-5 hover:text-cyan-400 hover:scale-[1.08] cursor-pointer ml-1"
            />
          </a>
          <a
            href="#"
            target="_blank"
            rel="noreferrer"
            aria-label="Ver facebook"
          >
            <FacebookIcon
              class="text-muted-foreground size-5 hover:text-blue-500 hover:scale-[1.08] cursor-pointer"
            />
          </a>
        </div>
      </div>
    </section>

    <section class="w-full flex flex-col items-center gap-2 border-t pt-4">
      <p class="font-semibold">Navegación</p>
      <nav class="flex flex-wrap justify-center gap-x-4 gap-y-2">
        {
          NAV_LINKS.map((link) => (
            <a
              href={link.href}
              class="hover:text-primary duration-200 text-nowrap text-sm"
              aria-label={link.ariaLabel}
            >
              {link.title}
            </a>
          ))
        }
      </nav>
    </section>
  </div>
</footer>
